:root{
	--c1:#18cbf8;
	--c2:#fff;
	--c3:#222429;
    --c4:#df5d9a;
    --c5:#0c08f1;

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;
	font-family: "Poppins", sans-serif;
}

h3 {
    padding-top: 3rem;
    font-size: 40px;
    text-align: center;
}

/* Sidebar */

.sidebar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} 

.sidebar h2 span{
    color:var(--c2);
}

.wrapper{
    text-align: center;
    display: flex;
    position: relative;
    z-index: 10;
}
  
.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: var(--c1);
    position: fixed;
}

.wrapper .sidebar h2{
    color: var(--c3);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
}    

.wrapper .sidebar ul li a{
    color: var(--c3);
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background-color: var(--c5);
}
    
.wrapper .sidebar ul li:hover a{
    color: #fff;
}

/* Left */
.left{
    margin-left: 200px;
}
/* TOP */
.top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Months */
.months {
    padding-top: 8rem;
    font-size: 20px;
}

.months button{
    padding: 0px 20px;
    font-size: 14px;
}

/* Graph */
.graph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#donutchart {
    width: 40rem;
    height: 20rem;
}

/* Table */

#money {
    padding-top: 30px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    white-space: nowrap; 
}

#money .income{
    display: inline-block;
    vertical-align: top;
}

#money #cum th, #money #exp th{
    width: 600px;
}

#money tr, td, th{
	padding-left: 10px;
	padding-right: 10px;
	padding: 5px;
}

#money tr:nth-child(even), tr:nth-child(even){
	background-color:var(--c1);
	color: var(--c3);
}
























































